<div class="container-fluid">
  <div class="table p-3">

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped table-bordered" cellspacing="0"
      width="100%">
      <thead>
        <tr>
          <th>No</th>
          <th>Symbol</th>
          <th>Cost / share</th>
          <th>Last closing price</th>
          <th>Amount</th>
          <th>Net Liq</th>
          <th>Percentage</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of positionDatas; let i=index">
          <td>{{i+1}}</td>
          <td>{{data.symbol}}</td>
          <td>{{data.cost}}</td>
          <td>{{data.closingprice}}</td>
          <td>{{data.amount}}</td>
          <td>{{data.amount * data.closingprice | number}}</td>
          <td>{{( data.amount * data.closingprice / positionSum * 100) | number}} %</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

