

<app-navbar></app-navbar>
<div class="container-fluid d-inline-flex p-0">
  <!-- <div class="header d-block">
  </div> -->
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="main vw-100">
      <table class="table table-dark m-0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">Type</th>
            <th scope="col">Trade Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of stockdatas; let i=index">
            <th scope="row">{{i}}</th>
            <td>{{data.symbol}}</td>
            <td>{{data.price}}</td>
            <td>{{data.amount}}</td>
            <td [ngStyle]="{'color': data.amount > 0  ? 'green':'red'}">{{data.amount | porS}}</td>
            <td>{{data.tradeDate}}</td>
          </tr>
        </tbody>
      </table>
      <app-edit (newStockDataEvent)="addStockData($event)"></app-edit>
    </div>

</div>

