<div class="container main-wrapper d-flex flex-column justify-content-center">

  <div class="form-group" [formGroup]="loginForm">
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticEmail" formControlName="email">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" formControlName="password">
      </div>
      <div class="btn-test">
        <div class="btn btn-primary" (click)='doLogin()'>Login</div>
      </div>
    </div>
  </div>

  <pre>
    {{loginForm.value | json}}
  </pre>
</div>

