<div class="container-fluid canvas">
  <div class="row cards">
    <div class="border col-md-6 col-lg-4">
      <div class="title h3 font-weight-bold ">S&P 500</div>
      <div class="d-flex align-items-end index">
        <div class="mr-auto index-number h4 font-weight-bold text-danger">23456.58</div>
        <div class="index-change-number h6 font-weight-bold text-danger">1.87</div>
        <div class="index-change-percent h6 font-weight-bold text-danger">(2.59%)</div>
      </div>
    </div>
    <div class="border col-md-6 col-lg-4">
      <div class="title h3 font-weight-bold">Dow Jones Industrials</div>
      <div class="d-flex align-items-end index">
        <div class="mr-auto index-number h4 font-weight-bold text-success">23456.58</div>
        <div class="index-change-number h6 font-weight-bold text-success">1.87</div>
        <div class="index-change-percent h6 font-weight-bold text-success">(2.59%)</div>
      </div>
    </div>
    <div class="border col-md-6 col-lg-4">
      <div class="title h3 font-weight-bold">NASDAQ Composite</div>
      <div class="d-flex align-items-end index">
        <div class="mr-auto index-number h4 font-weight-bold text-success">23456.58</div>
        <div class="index-change-number h6 font-weight-bold text-success">1.87</div>
        <div class="index-change-percent h6 font-weight-bold text-success">(2.59%)</div>
      </div>
    </div>
    <!-- <div class="border col-md-6 col-lg-4">
      4
    </div> -->
  </div>
  <div class="row p-1">
    <div class="border border-primary chart basechart col-md-7 flex-fill p-0">
      <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins"
      ></canvas>
    </div>
    <div class="border border-primary chart piechart col-md-5 flex-fill p-0">
      <canvas baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [legend]="pieChartLegend">
    </canvas>
    </div>
  </div>
</div>

