<div class="container-fluid canvas">
  <div class="row cards">
    <div class="border col-md-6 col-lg-3">
      1
    </div>
    <div class="border col-md-6 col-lg-3">
      2
    </div>
    <div class="border col-md-6 col-lg-3">
      3
    </div>
    <div class="border col-md-6 col-lg-3">
      4
    </div>
  </div>
  <div class="row p-1">
    <div class="border border-primary chart basechart col-md-7 flex-fill p-0">
      <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins"
      ></canvas>
    </div>
    <div class="border border-primary chart piechart col-md-5 flex-fill p-0">
      <canvas baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [colors]="pieChartColors"
      [legend]="pieChartLegend">
    </canvas>
    </div>
  </div>
</div>

