<p>edit works!</p>

<form [formGroup]="stockdata" (ngSubmit)="onSubmit()">

  <label>
    Stock:
    <input type="text" formControlName="stock">
  </label>

  <label>
    Price:
    <input type="text" formControlName="price">
  </label>

  <label>
    Amount:
    <input type="text" formControlName="amount">
  </label>

  <select name='PORS' formControlName='type'>
    <option value="true">Buy</option>
    <option value="false">Sell</option>
  </select>

  <input type="submit" value="Submit">

  <pre>{{stockdata.value | json}}</pre>
  <pre>{{stockdd | json}}</pre>
</form>



